body {
    background-color: black;
    color: white;
    text-align: left;
}

.retro-title {
    color: #00ff00; /* Color verde para el título */
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.retro-nav ul {
    list-style-type: none;
    text-align: center;
}

.retro-nav li {
    display: inline;
    margin: 0 20px;
}

.retro-section {
    background-color: #000000;
    padding: 20px;
    margin: 20px;
    border: 1px solid #00ff00;
}

.retro-project {
    font-size: 18px;
    border-top: 1px solid #00ff00;
    margin-top: 10px;
    padding-top: 10px;
}

.retro-link {
    color: #00ff00;
    text-decoration: none;
    margin: 0 10px;
}

.retro-link:hover {
    text-decoration: underline;
}

.retro-socials {
    list-style-type: none;
}

.retro-footer {
    background-color: #000000;
    padding: 10px;
    border-top: 1px solid #00ff00;
    margin-top: 20px;
    text-align: center;
}
